* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
}
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info {
  display: flex;
  justify-content: space-between;
}

.moon-vacation,
.PTO,
.pending-approvals {
  margin-bottom: 40px;
}
h2 {
  margin-bottom: 20px;
  color: #333;
}

.circle-card {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  color: white;
  background-color: #4caf50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.circle-card p {
  font-size: 0.6em;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.table-title {
  font-size: 20px;
}

.status-pending {
  color: orange;
}

.status-approved {
  color: green;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin: 0px 5px;
  cursor: pointer;
  font-size: 15px;
}

.agreen-btn {
  background-color: green;
  color: white;
}

.reject-btn {
  background-color: #f44336;
  color: white;
}
