* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #a8c0ff, #3f2b96);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

.login-container {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 40px 40px;
  border-radius: 10px;
  font-size: 16px;
}

.login-container label {
  display: block;
  text-align: left;
  font-size: 18px;
}
.login-container input {
  display: block;
  font-size: 16px;
}

.account {
  margin-bottom: 5px;
}
.login-btn {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 10px;
  color: #3f2b96;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background: #e0e0e0;
}
h1 {
  margin-bottom: 20px;
}
